*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* h1 {
    font-weight: bold;
    font-size: 3rem;
} */

.col {
  display: inline-block;
  width: 690px;

  /* box-sizing: border-box; */
}

.col:first-of-type {
  padding-right: 2rem;
}

.col:nth-of-type(2) {
  padding-left: 2rem;
}

.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: black;
  /* color: white; */
}

.box--aqua {
  background-color: aquamarine;
}

.box--coral {
  background-color: coral;
}
